.ui-widget {
	font-size: 12px;
}

.ui-datepicker-calendar {
	background-color: white;
}

.ui-datatable .ui-column-filter {
	width: 100%;
	color:black;
	font-size: 9px;
	font-weight: normal;
}

.location_column .ui-dt-c{
	width:200px;	
}

.comune_column {
	width:100px;
}

.ui-datatable th,.ui-datatable tfoot td {
	padding: 0px 2px 0px 2px;
}

.ui-datatable .ui-datatable-footer {
	padding: 0px;
}

.ui-datatable .ui-sortable-column div.ui-dt-c {
	text-align: center;
}

.ui-widget-overlay {
	background: WHITE !important;
}

.cella {
	text-align: right !important;
}

.head {
	color:white;
	text-align: center;
}

table {
	font-size: 10px;
}

.chart-detail-region {
	position: relative;
	top: -600px;
	right: -600px;
}

.region-detail-panel {
	font-size: 0.8em;
	height: 600px;
}

.chart-region-datail {
	height: 600px;
	width: 900px;
}

.chart-region {
	height: 600px;
	width: 600px;
}

.menu-text-title {
	position: relative;
	top: -27px;
	float: right;
	right: 50px;
	margin-left: 2px;
	font-size: 12px;
	font-weight: bold;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.menu-text {
	position: relative;
	top: -27px;
	float: right;
	right: 50px;
	margin-left: 2px;
	font-size: 12px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.animated .ui-progressbar-value {
	background-image:
		url(http://www.primefaces.org/showcase/images/pbar-ani.gif);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	height: 10px;
}

.ui-progressbar {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	width: 400px;
	height: 10px;
}

.ui-dialog .ui-dialog-content {
	padding: 0 !important;
}

.info-log-text {
	position: relative;
	top: -55px;
	float: right;
	right: -170px;
	margin-left: 2px;
	font-size: 12px;
	font-weight: bold;
	color: white;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.title-filter {
	border-bottom: 1px solid #BDBCBC;
	text-align: center;
	text-align: -moz-center;
	width: 100%;
	position: relative;
	display: block;
}

.select-one tr {
	border: 1px solid red;
}

.legenda {
	position: absolute;
	right: 0px;
	top: 126px;
	margin-right: 2px;
}

.ui-icon-milionarie {   
    background-image: url('../images/million-vlt.png')!important;   
}



.center-data{
	display: block;
	margin-left: auto;
	margin-right: auto;
	height:21px;
}

.ui-datatable .ui-datatable-data-empty td{
	text-align: center !important;	
}

.no-border{
	border: 0px;
}

.ui-selectonemenu label.ui-selectonemenu-label {
text-align: left;
}
